#displayBarBg {
  flex: 1;
  color: black;
  border: 2px solid #212529;
  border-radius: 1rem;
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#expression {
  padding-top: 0.5rem;
  background: white;
  flex: 1;
}
#log {
  align-self: flex-end;
  font-size: 24px;
  flex: 1;
}
